/*
 GENERAL
*/

*
{
    margin: 0;
    padding: 0;
}
body
{
    height: auto;
    width: auto;
}
h1,h3{
    color:#EFEEEC;
}
h1{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    text-shadow: black 1px 0 10px;
}
h2{
    font-family: 'Crete Round', serif;
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
p{
    line-height: 20px;
    color: #777;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #EFEEEC;
    text-shadow: black 1px 0 10px;
}
a:hover{
   text-decoration: underline;
    color: #ff7a00;
    text-shadow: black 1px 0 10px;
    cursor: pointer;
}
.wrapper
{
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange
{
    color: #ff7a00;
}
.black{
    color: black;
}
.clear
{
    clear: both;
}

/* HEADER */

header
{
    height: 120px;
    width: 100%;
    position: fixed;
    background-color: #ddd7;
    border-bottom: 1px solid #ddd
}
header h1
{
    float: left;
    margin-top: 32px;
}
header h1:hover{text-decoration: underline;
        color: #ff7a00;
        cursor: pointer;
}
header h1 nav{
  position: absolute;
}
header nav
{
    float: right;
    margin-top: 50px;

}
header nav ul li
{
    float:left;
    display: inline-block;
}
header nav ul li a
{
    font-family: 'Crete Round';
    font-weight: bold;
    margin-right: 20px;
    cursor: auto;
}

/* MAIN IMAGE */

#main-image
{
    height: 750px;
    border-bottom: 1px solid #ddd;
    background: url('images/sea-2755901_1920.jpg') top center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
#main-image h2
{
    color: #EFEEEC;
    font-weight: normal;
    text-align: center;
    padding: 300px 0 40px 0;
    margin-bottom: 20px;
    text-shadow: black 1px 0 10px;
}

/* STEPS */

#steps{
    height: 280px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #FFF;
}
#steps h4:hover{
   text-decoration: underline;
    color: #ff7a00;
    text-shadow: black 1px 0 10px;
    cursor: pointer;}
}
#steps ul
{
    margin: 80px;

}
#steps ul li
{
    width: 310px;
    float:left;
    margin: 80px auto 0;
    text-align: center;
    margin-right: 50px;

}
#steps h4
{
    margin-top: 70px;
    font-family: 'Crete Round'
}
#steps p
{
    margin-bottom: 20px;
}

#step-1
{
    background-repeat: no-repeat;
    background-position:  top center;

}

#step-2
{
     background-repeat: no-repeat;
    background-position:  top center;
}
#step-3
{
    background-repeat: no-repeat;
    background-position:  top center;
}

/* POSSIBILITIES */


#possibilities
{
    background-color: #efefef;
    padding:  60px 0px 80px;
    border-bottom: 1px solid #ddd

}
#possibilities h2
{
    width: 350px;
    margin: 0 370px 0px ;
    padding-bottom: 70px;
    text-align: center;
    font-family: 'Crete Round', arial;
    text-decoration: underline;
}
#possibilities article
{
    width: 450px;
    height: 447px;
    float: left;
    padding: 40px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
}
article h4
{
    border-bottom:  1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Crete Round', arial;
    text-decoration: underline;
}
#possibilities p
{
    text-align: justify;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
    font-family: 'Crete Round';
    font-size: 14px;
}
#possibilities #infos{
    float: right;
    padding-right: 200px;
}
#possibilities #infos p{
    padding-bottom: 0;

}
#possibilities #infos p #black{
    color: #ddd;
}

/*skills*/

#skills
{
    background-color: #fff;
    padding:  60px 0px 80px;

}

#skills h2
{
    width: 350px;
    margin: 0 370px 0px ;
    text-decoration: underline;
    padding-bottom: 80px;
    text-align: center;
}
#skills article
{
  float: left;
  padding: 40px;
}
